@charset "UTF-8";

/*Подключение шрифтов /=============================================================================*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;

700&display=swap");




.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1050px;
}

/*=============================================================================================================*/

/*Обнуление /=============================================================================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*=============================================================================================================*/

/*Переменные для адаптивного свойства /=============================================================================*/

/*Основные цвета /=============================================================================*/

/*=============================================================================================================*/

/*Переменные для адаптивного свойства /=============================================================================*/

/*=============================================================================================================*/

/*Основные стили /=============================================================================*/

body {
  font-size: 0.75rem;
  font-family: "Rubik", sans-serif;
  color: #979797;
}

body.lock {
  overflow: hidden;
}

body.lock-popup {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*=============================================================================================================*/

/*Общие блоки /=============================================================================*/

.svg-logo-dims {
  width: 50px;
}

.title {
  font-size: 3.1428571429rem;
  font-weight: 700;
  line-height: 1.26;
  color: #000;
}

.title span.blue {
  color: #4285f4;
}

.title span.red {
  color: #ec5863;
}

.button {
  color: rgb(252, 253, 254);
  font-size: 0.7142857143rem;
  font-weight: 700;
  line-height: 150%;
  padding: 13px 32px;
  text-align: center;
  background: #ec5863;
  border-radius: 5px;
  letter-spacing: 0.14%;
}

.button__blue {
  background: #4285f4;
}

.square-biggest {
  background: #ec5863;
  border-radius: 30px;
  width: 10.5rem;
  height: 10.5rem;
  position: absolute;
}

.square-big {
  background: #ec5863;
  border-radius: 30px;
  width: 9.0714285714rem;
  position: absolute;
  height: 9.0714285714rem;
}

.square-medium {
  background: #ec5863;
  border-radius: 30px;
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
}

.square-small {
  background: #ec5863;
  border-radius: 30px;
  position: absolute;
  width: 4.6428571429rem;
  height: 4.6428571429rem;
}

.info-block {
  overflow: hidden;
}

.info-block.active .info-block__title {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
}

.info-block.active .info-block__text {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.6s ease-in-out 0.3s;
  -o-transition: all 0.6s ease-in-out 0.3s;
  transition: all 0.6s ease-in-out 0.3s;
}

.info-block.active .info-block__button {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: background 0.3s ease 0s, -webkit-transform 0.4s ease-in-out 0.6s;
  transition: background 0.3s ease 0s, -webkit-transform 0.4s ease-in-out 0.6s;
  -o-transition: transform 0.4s ease-in-out 0.6s, background 0.3s ease 0s;
  transition: transform 0.4s ease-in-out 0.6s, background 0.3s ease 0s;
  transition: transform 0.4s ease-in-out 0.6s, background 0.3s ease 0s, -webkit-transform 0.4s ease-in-out 0.6s;
}

.info-block__title {
  margin: 0px 0px 0.2727272727em 0px;
  opacity: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.info-block__text {
  margin: 0px 0px 2em 0px;
  opacity: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.info-block__button {
  opacity: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.svg-man-dims {
  width: 65px;
}

.svg-doctor-dims {
  width: 68px;
}

.svg-health-dims {
  width: 88px;
}

/*=============================================================================================================*/

@-webkit-keyframes header {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes header {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.header {
  width: 100%;
  position: fixed;
  z-index: 50;
  min-height: 114px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in 0s, min-height 0.3s ease 0s, top 0.5s ease-in 0s;
  -o-transition: opacity 0.5s ease-in 0s, min-height 0.3s ease 0s, top 0.5s ease-in 0s;
  transition: opacity 0.5s ease-in 0s, min-height 0.3s ease 0s, top 0.5s ease-in 0s;
  left: 0;
  -webkit-animation-name: header;
          animation-name: header;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.header.scroll {
  min-height: 60px;
  background: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  max-width: 1084px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__download {
  position: relative;
}

.logo {
  color: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  z-index: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 122.2222222222%;
  font-size: 1.2857142857rem;
}

.logo__image {
  margin-right: 6px;
}

.red {
  color: #ec5863;
}

.menu__icon {
  display: block;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.menu__icon::after,
.menu__icon::before,
.menu__icon > span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  border-radius: 3px;
  background: #ec5863;
  right: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__icon::after {
  top: 0;
}

.menu__icon::before {
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.menu__icon > span::after {
  bottom: 0;
}

.menu__icon.active > span::after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu__icon.active::before {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.menu__icon.active::after {
  -webkit-transform: rotate(-45deg) translate(0, -50%);
      -ms-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
  top: 50%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  color: #000;
  font-size: 0.7142857143rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.14%;
}

.menu__link {
  color: inherit;
}

/*=============================================================================================================*/

.main-block {
  background: #fafbfd;
  padding-top: 114px;
  padding-bottom: 3.4285714286rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-block__container {
  position: relative;
}

.main-block__body {
  margin-bottom: 4.2857142857rem;
}

.main-block__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-block__image img {
  width: 100%;
}

.video-main-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translateY(70px);
      -ms-transform: translateY(70px);
          transform: translateY(70px);
}

.video-main-block__body.active {
  -webkit-transition: all 0.6s ease 0.27s;
  -o-transition: all 0.6s ease 0.27s;
  transition: all 0.6s ease 0.27s;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.video-main-block__icon {
  margin: 0px 12px 0px 0px;
  width: 44px;
  height: 44px;
  border: 1px solid #4285f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.video-main-block__icon img {
  width: 14.67px;
  -webkit-transform: translate(2px, 0px) rotate(0deg);
      -ms-transform: translate(2px, 0px) rotate(0deg);
          transform: translate(2px, 0px) rotate(0deg);
  position: relative;
  z-index: 2;
}

.video-main-block__title {
  line-height: 1.2599999905;
  letter-spacing: 0.0799999982%;
  font-size: 0.9285714286rem;
  margin: 0px 0px 0.3846153846em 0px;
}

.video-main-block__label {
  line-height: 1.2599999905;
  letter-spacing: 0.1650000066%;
  font-size: 0.6428571429rem;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
}

.popup-video-main-block {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(95, 240, 240, 0.747);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow-x: hidden;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7.1428571429rem;
}

.popup-video-main-block.active {
  opacity: 1;
  visibility: visible;
}

.popup-video-main-block.active .popup-video-main-block__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup-video-main-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-video-main-block__body video {
  width: 100%;
}

.popup-video-main-block__close {
  position: fixed;
  top: 30px;
  cursor: pointer;
  right: 30px;
  width: 50px;
}

/*=============================================================================================================*/

.stay-safe {
  padding-top: 5.7142857143rem;
  padding-bottom: 5.7142857143rem;
}

.stay-safe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stay-safe__container.active .stay-safe__image img {
  -webkit-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.stay-safe__container.active .stay-safe__squre-medium_1 {
  -webkit-transition: all 0.8s ease-in-out 0s;
  -o-transition: all 0.8s ease-in-out 0s;
  transition: all 0.8s ease-in-out 0s;
  opacity: 1;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
      -ms-transform: rotate(0deg) translate(0px, 0px);
          transform: rotate(0deg) translate(0px, 0px);
}

.stay-safe__container.active .stay-safe__squre-medium_2 {
  -webkit-transition: all 0.8s ease-in-out 0s;
  -o-transition: all 0.8s ease-in-out 0s;
  transition: all 0.8s ease-in-out 0s;
  opacity: 1;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
      -ms-transform: rotate(0deg) translate(0px, 0px);
          transform: rotate(0deg) translate(0px, 0px);
}

.stay-safe__container.active .stay-safe__squre-biggest {
  -webkit-transition: all 0.8s ease-in-out 0s;
  -o-transition: all 0.8s ease-in-out 0s;
  transition: all 0.8s ease-in-out 0s;
  opacity: 1;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
      -ms-transform: rotate(0deg) translate(0px, 0px);
          transform: rotate(0deg) translate(0px, 0px);
}

.stay-safe__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 338px;
          flex: 0 1 338px;
  min-width: 150px;
  padding-top: 4rem;
  padding-left: 5.0714285714rem;
  padding-bottom: 2rem;
  padding-right: 2.8571428571rem;
}

.stay-safe__image img {
  position: relative;
  width: 100%;
  -webkit-box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.stay-safe__squre-biggest {
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: rotate(45deg) translate(-100px, -100px);
      -ms-transform: rotate(45deg) translate(-100px, -100px);
          transform: rotate(45deg) translate(-100px, -100px);
}

.stay-safe__squre-medium_1 {
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: rotate(45deg) translate(-70px, 70px);
      -ms-transform: rotate(45deg) translate(-70px, 70px);
          transform: rotate(45deg) translate(-70px, 70px);
}

.stay-safe__squre-medium_2 {
  bottom: 26.6304347826%;
  right: 0;
  opacity: 0;
  -webkit-transform: rotate(45deg) translate(70px, -70px);
      -ms-transform: rotate(45deg) translate(70px, -70px);
          transform: rotate(45deg) translate(70px, -70px);
}

/*=============================================================================================================*/

.statistics {
  background: #fafbfd;
  padding-top: 7.1428571429rem;
  padding-bottom: 5.7142857143rem;
}

.statistics__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statistics__squre-medium {
  -webkit-transform: rotate(145deg) translate(-80px, -80px);
      -ms-transform: rotate(145deg) translate(-80px, -80px);
          transform: rotate(145deg) translate(-80px, -80px);
  left: 37.0567375887%;
  top: -29.9145299145%;
  opacity: 0;
}

.statistics__squre-big {
  -webkit-transform: rotate(-85deg) translate(110px, -110px);
      -ms-transform: rotate(-85deg) translate(110px, -110px);
          transform: rotate(-85deg) translate(110px, -110px);
  right: -8.1560283688%;
  bottom: -11.1111111111%;
  opacity: 0;
}

.statistics__squre-small {
  -webkit-transform: rotate(-95deg) translate(-80px, -80px);
      -ms-transform: rotate(-95deg) translate(-80px, -80px);
          transform: rotate(-95deg) translate(-80px, -80px);
  left: -3.0141843972%;
  bottom: -14.5299145299%;
  opacity: 0;
}

.statistics__body {
  position: relative;
}

.statistics__body.active .statistics__items {
  opacity: 1;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.statistics__body.active .statistics__item {
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.statistics__body.active .statistics__item:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.statistics__body.active .statistics__item:last-child {
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.statistics__body.active .statistics__squre-small {
  -webkit-transform: rotate(-30deg) translate(0px, 0px);
      -ms-transform: rotate(-30deg) translate(0px, 0px);
          transform: rotate(-30deg) translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
}

.statistics__body.active .statistics__squre-big {
  -webkit-transform: rotate(-30deg) translate(0px, 0px);
      -ms-transform: rotate(-30deg) translate(0px, 0px);
          transform: rotate(-30deg) translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
}

.statistics__body.active .statistics__squre-medium {
  -webkit-transform: rotate(-30deg) translate(0px, 0px);
      -ms-transform: rotate(-30deg) translate(0px, 0px);
          transform: rotate(-30deg) translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
}

.statistics__items {
  opacity: 0;
  background: #fff;
  overflow: hidden;
  position: relative;
  padding-right: 5.7142857143rem;
  padding-left: 5.7142857143rem;
  padding-top: 2rem;
  gap: 5.7142857143rem;
  padding-bottom: 2rem;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.statistics__item {
  min-width: 150px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
}

.statistics__value {
  color: #ec5863;
  font-size: 2.5714285714rem;
  letter-spacing: 0.14em;
  font-weight: 700;
  margin-bottom: 0.1388888889em;
}

.statistics__text {
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  font-size: 0.7857142857rem;
  line-height: 118.1818181818%;
  letter-spacing: 0.37em;
}

/*=============================================================================================================*/

.experts {
  background: #fafbfd;
  padding-bottom: 8.2857142857rem;
}

.video-experts {
  position: relative;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 0.1s;
  -o-transition: all 0.8s ease 0.1s;
  transition: all 0.8s ease 0.1s;
}

.video-experts.active {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.video-experts__video {
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 284px;
}

.video-experts__video[poster] {
  -o-object-fit: cover;
     object-fit: cover;
}

.video-experts__play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 41px;
  height: 41px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #4285f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.video-experts__play:active {
  -webkit-transform: scale(0.9) translate(-50%, -50%);
      -ms-transform: scale(0.9) translate(-50%, -50%);
          transform: scale(0.9) translate(-50%, -50%);
  background: rgb(70, 70, 156);
}

.video-experts__play img {
  width: 13.6px;
  -webkit-transform: translateX(1px);
      -ms-transform: translateX(1px);
          transform: translateX(1px);
}

.video-experts__play.remove {
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%) scale(1.5);
      -ms-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
}

/*=============================================================================================================*/

.healthcare {
  padding-top: 5.4285714286rem;
  padding-bottom: 5rem;
}

.healthcare__info {
  margin-bottom: 3.2142857143rem;
  text-align: center;
}

.healthcare__info .info-block__title {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.healthcare__info .info-block__text {
  max-width: 600px;
  margin: 0 auto;
}

.healthcare__cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 279px));
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.healthcare__item {
  position: relative;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}

.healthcare__item.active {
  -webkit-transition: all 0.7s ease-in-out 0s;
  -o-transition: all 0.7s ease-in-out 0s;
  transition: all 0.7s ease-in-out 0s;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.healthcare__item.active:nth-child(2) {
  -webkit-transition: all 0.7s ease-in-out 0.2s;
  -o-transition: all 0.7s ease-in-out 0.2s;
  transition: all 0.7s ease-in-out 0.2s;
}

.healthcare__item.active:last-child {
  -webkit-transition: all 0.7s ease-in-out 0.4s;
  -o-transition: all 0.7s ease-in-out 0.4s;
  transition: all 0.7s ease-in-out 0.4s;
}

.healthcare__item.active .healthcare__squre-small_1 {
  -webkit-transition: all 0.7s ease-in-out 0.1s;
  -o-transition: all 0.7s ease-in-out 0.1s;
  transition: all 0.7s ease-in-out 0.1s;
  -webkit-transform: rotate(-30deg) translate(0, 0);
      -ms-transform: rotate(-30deg) translate(0, 0);
          transform: rotate(-30deg) translate(0, 0);
  opacity: 1;
}

.healthcare__item.active .healthcare__squre-small_2 {
  -webkit-transition: all 0.7s ease-in-out 0.5s;
  -o-transition: all 0.7s ease-in-out 0.5s;
  transition: all 0.7s ease-in-out 0.5s;
  -webkit-transform: rotate(-30deg) translate(0, 0);
      -ms-transform: rotate(-30deg) translate(0, 0);
          transform: rotate(-30deg) translate(0, 0);
  opacity: 1;
}

.healthcare__item.active .healthcare__squre-medium {
  -webkit-transition: all 0.7s ease-in-out 0.1s;
  -o-transition: all 0.7s ease-in-out 0.1s;
  transition: all 0.7s ease-in-out 0.1s;
  -webkit-transform: rotate(105deg) translate(0, 0);
      -ms-transform: rotate(105deg) translate(0, 0);
          transform: rotate(105deg) translate(0, 0);
  opacity: 1;
}

.healthcare__item.active .healthcare__squre-big {
  -webkit-transition: all 0.7s ease-in-out 0.3s;
  -o-transition: all 0.7s ease-in-out 0.3s;
  transition: all 0.7s ease-in-out 0.3s;
  opacity: 1;
  -webkit-transform: rotate(-30deg) translateX(62.9921259843%) translateY(51.968503937%);
      -ms-transform: rotate(-30deg) translateX(62.9921259843%) translateY(51.968503937%);
          transform: rotate(-30deg) translateX(62.9921259843%) translateY(51.968503937%);
}

.healthcare__item-body {
  position: relative;
  padding-top: 2.5714285714rem;
  padding-bottom: 2.5714285714rem;
  padding-left: 1.2857142857rem;
  padding-right: 1.2857142857rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.healthcare__squre-small {
  z-index: -1;
}

.healthcare__squre-small_1 {
  bottom: -16.2454873646%;
  left: -11.5942028986%;
  -webkit-transform: rotate(-125deg) translate(-50px, 50px);
      -ms-transform: rotate(-125deg) translate(-50px, 50px);
          transform: rotate(-125deg) translate(-50px, 50px);
  opacity: 0;
}

.healthcare__squre-small_2 {
  -webkit-transform: rotate(-95deg);
      -ms-transform: rotate(-95deg);
          transform: rotate(-95deg);
  top: -16.6064981949%;
  right: -11.231884058%;
  opacity: 0;
  -webkit-transform: translate(60px, -60px);
      -ms-transform: translate(60px, -60px);
          transform: translate(60px, -60px);
}

.healthcare__icon {
  margin-bottom: 4.1428571429rem;
}

.healthcare__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  letter-spacing: 0.08em;
  font-size: 1.1428571429rem;
  color: #000;
  line-height: 138%;
  margin-bottom: 0.25em;
  font-weight: 700;
}

.healthcare__text {
  line-height: 138.5%;
  letter-spacing: 0.08em;
}

.healthcare__squre-big {
  -webkit-transform: rotate(-95deg) translateX(-100px) translateY(100px);
      -ms-transform: rotate(-95deg) translateX(-100px) translateY(100px);
          transform: rotate(-95deg) translateX(-100px) translateY(100px);
  right: 0;
  bottom: 0;
  opacity: 0;
}

.healthcare__squre-medium {
  top: 11.1913357401%;
  right: -22.1014492754%;
  -webkit-transform: rotate(105deg) translate(-70px, -70px);
      -ms-transform: rotate(105deg) translate(-70px, -70px);
          transform: rotate(105deg) translate(-70px, -70px);
  opacity: 0;
}

/*=============================================================================================================*/

/*=============================================================================================================*/

/*=============================================================================================================*/

/*=============================================================================================================*/

.footer {
  padding-bottom: 3.3571428571rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
}

.footer__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 160px;
          flex: 0 1 160px;
}

@media (min-width: 450px) {
  .stay-safe__container {
    gap: 10.7142857143rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .stay-safe__content {
    max-width: 379px;
  }
}

@media (min-width: 767.98px) {
  .button {
    display: inline-block;
  }

  .menu__icon {
    display: none;
  }

  .menu__list {
    -webkit-column-gap: 2.9285714286rem;
       -moz-column-gap: 2.9285714286rem;
            column-gap: 2.9285714286rem;
  }

  .main-block {
    min-height: 100vh;
  }

  .main-block__decor {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ec5863;
    border-radius: 30px 0px 0px 30px;
    width: 25.6076388889%;
    height: 100%;
    opacity: 0;
    -webkit-transform: translateX(70px);
        -ms-transform: translateX(70px);
            transform: translateX(70px);
  }

  .main-block__decor.active {
    -webkit-transition: all 0.8s ease 0.2s;
    -o-transition: all 0.8s ease 0.2s;
    transition: all 0.8s ease 0.2s;
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .main-block__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .main-block__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 53.1067961165%;
            flex: 0 0 53.1067961165%;
  }

  .popup-video-main-block__body {
    width: 80%;
  }

  .experts__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 5.3571428571rem;
       -moz-column-gap: 5.3571428571rem;
            column-gap: 5.3571428571rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .experts__video {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 52.6794742164%;
            flex: 0 0 52.6794742164%;
  }

  .healthcare__cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1152px) {
  .title {
    font-size: calc(24px + 20 * ((100vw - 320px) / 832));
  }

  .square-biggest {
    width: calc(80px + 67 * ((100vw - 320px) / 832));
  }

  .square-biggest {
    height: calc(80px + 67 * ((100vw - 320px) / 832));
  }

  .square-big {
    width: calc(60px + 67 * ((100vw - 320px) / 832));
  }

  .square-big {
    height: calc(60px + 67 * ((100vw - 320px) / 832));
  }

  .square-medium {
    width: calc(40px + 37 * ((100vw - 320px) / 832));
  }

  .square-medium {
    height: calc(40px + 37 * ((100vw - 320px) / 832));
  }

  .square-small {
    width: calc(30px + 35 * ((100vw - 320px) / 832));
  }

  .square-small {
    height: calc(30px + 35 * ((100vw - 320px) / 832));
  }

  .main-block {
    padding-bottom: calc(20px + 28 * ((100vw - 320px) / 832));
  }

  .main-block__body {
    margin-bottom: calc(25px + 35 * ((100vw - 320px) / 832));
  }

  .popup-video-main-block {
    padding: calc(15px + 85 * ((100vw - 320px) / 832));
  }

  .stay-safe {
    padding-top: calc(10px + 70 * ((100vw - 320px) / 832));
  }

  .stay-safe {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / 832));
  }

  .stay-safe__image {
    padding-top: calc(14px + 42 * ((100vw - 320px) / 832));
  }

  .stay-safe__image {
    padding-left: calc(18px + 53 * ((100vw - 320px) / 832));
  }

  .stay-safe__image {
    padding-bottom: calc(7px + 21 * ((100vw - 320px) / 832));
  }

  .stay-safe__image {
    padding-right: calc(10px + 30 * ((100vw - 320px) / 832));
  }

  .statistics {
    padding-top: calc(40px + 60 * ((100vw - 320px) / 832));
  }

  .statistics {
    padding-bottom: calc(30px + 50 * ((100vw - 320px) / 832));
  }

  .statistics__items {
    padding-right: calc(15px + 65 * ((100vw - 320px) / 832));
  }

  .statistics__items {
    padding-left: calc(15px + 65 * ((100vw - 320px) / 832));
  }

  .statistics__items {
    padding-top: calc(15px + 13 * ((100vw - 320px) / 832));
  }

  .statistics__items {
    gap: calc(20px + 60 * ((100vw - 320px) / 832));
  }

  .statistics__items {
    padding-bottom: calc(15px + 13 * ((100vw - 320px) / 832));
  }

  .statistics__value {
    font-size: calc(20px + 16 * ((100vw - 320px) / 832));
  }

  .experts {
    padding-bottom: calc(30px + 86 * ((100vw - 320px) / 832));
  }

  .healthcare {
    padding-top: calc(25px + 51 * ((100vw - 320px) / 832));
  }

  .healthcare {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 832));
  }

  .healthcare__info {
    margin-bottom: calc(20px + 25 * ((100vw - 320px) / 832));
  }

  .healthcare__item-body {
    padding-top: calc(17px + 19 * ((100vw - 320px) / 832));
  }

  .healthcare__item-body {
    padding-bottom: calc(17px + 19 * ((100vw - 320px) / 832));
  }

  .healthcare__item-body {
    padding-left: calc(10px + 8 * ((100vw - 320px) / 832));
  }

  .healthcare__item-body {
    padding-right: calc(10px + 8 * ((100vw - 320px) / 832));
  }

  .healthcare__icon {
    margin-bottom: calc(15px + 43 * ((100vw - 320px) / 832));
  }

  .footer {
    padding-bottom: calc(17px + 30 * ((100vw - 320px) / 832));
  }

  .footer__container {
    -webkit-column-gap: calc(20px + 36 * ((100vw - 320px) / 832));
       -moz-column-gap: calc(20px + 36 * ((100vw - 320px) / 832));
            column-gap: calc(20px + 36 * ((100vw - 320px) / 832));
  }
}

@media (max-width: 992.98px) {
  .square-medium {
    border-radius: 15px;
  }

  .square-small {
    border-radius: 10px;
  }

  .header {
    min-height: 80px;
  }

  .main-block {
    padding-top: 90px;
  }
}

@media (max-width: 767.98px) {
  .button {
    display: block;
    width: 100%;
  }

  .header {
    min-height: 60px;
  }

  .header__download {
    font-size: 1.1428571429rem;
  }

  .menu__body {
    position: fixed;
    bottom: 0;
    left: -100%;
    width: 100%;
    overflow: auto;
    height: 100%;
    background: rgb(209, 209, 209);
    -webkit-transition: left 0.3s ease-in 0s;
    -o-transition: left 0.3s ease-in 0s;
    transition: left 0.3s ease-in 0s;
  }

  .menu__body.open {
    left: 0;
  }

  .menu__body.open::after {
    left: 0;
  }

  .menu__body::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    background: rgb(209, 209, 209);
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease-in 0s;
    -o-transition: left 0.3s ease-in 0s;
    transition: left 0.3s ease-in 0s;
  }

  .menu__list {
    padding: 70px 10px 25px 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__list li {
    font-size: 1.4285714286rem;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 2.1428571429rem 0px;
  }

  .main-block {
    padding-top: 70px;
  }

  .main-block__content {
    margin-bottom: 25px;
  }

  .experts__info {
    margin-bottom: 1.4285714286rem;
  }

  .healthcare__squre-small_2 {
    display: none;
  }
}

@media (max-width: 450px) {
  .stay-safe__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .stay-safe__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .stay-safe__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .stay-safe__content {
    margin-bottom: 20px;
  }
}

@media (min-width: 767.98px) and (max-width: 1152px) {
  .menu__list {
    -webkit-column-gap: calc(15px + 26 * ((100vw - 320px) / 832));
       -moz-column-gap: calc(15px + 26 * ((100vw - 320px) / 832));
            column-gap: calc(15px + 26 * ((100vw - 320px) / 832));
  }

  .experts__container {
    -webkit-column-gap: calc(15px + 60 * ((100vw - 320px) / 832));
       -moz-column-gap: calc(15px + 60 * ((100vw - 320px) / 832));
            column-gap: calc(15px + 60 * ((100vw - 320px) / 832));
  }
}

@media (min-width: 450px) and (max-width: 1152px) {
  .stay-safe__container {
    gap: calc(25px + 125 * ((100vw - 320px) / 832));
  }
}

@media (any-hover: hover) {
  .button {
    -webkit-transition: background 0.3s ease 0s;
    -o-transition: background 0.3s ease 0s;
    transition: background 0.3s ease 0s;
  }

  .button:hover {
    background: #d45151;
  }

  .button__blue {
    -webkit-transition: background 0.3s ease 0s;
    -o-transition: background 0.3s ease 0s;
    transition: background 0.3s ease 0s;
  }

  .button__blue:hover {
    background: #346bc4;
  }

  .menu__link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .menu__link:hover {
    color: #ec5863;
  }

  .video-main-block__icon {
    -webkit-transition: border 0.3s ease 0s;
    -o-transition: border 0.3s ease 0s;
    transition: border 0.3s ease 0s;
  }

  .video-main-block__icon:hover {
    border: 4px solid #4285f4;
  }

  .video-main-block__label:hover {
    text-decoration: underline;
  }

  .popup-video-main-block__close {
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .popup-video-main-block__close:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .video-experts__play:hover {
    background: rgb(87, 87, 196);
    -webkit-transform: scale(1.1) translate(-50%, -50%);
        -ms-transform: scale(1.1) translate(-50%, -50%);
            transform: scale(1.1) translate(-50%, -50%);
  }

  .footer__card {
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .footer__card:hover {
    -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
            transform: scale(1.07);
  }
}